<div>
  <h2>Time to test your performance!</h2>

  <UiButton
    @clickAction={{perform createNewPerformanceTest}}
    @disabled={{"false"}}
    data-test-new-performance-test>
    Start new performance test
  </UiButton>
</div>

Choose Program:
{{choose-program macrocycles=model.macrocycles}}
{{outlet}}

{{test}}
<div class="my-4">
  <UiButton
    @clickAction={{transition-to "protected.new-program"}}
    data-test-new-program-button>
    Start new program
  </UiButton>
</div>
