<div>
  <div class="inline-block">
    {{yield}}
  </div>
  {{#if showOptions}}
    <div
      style="height: 2.5rem; width: 2.5rem; line-height: 2.5rem;"
      class="p-1 rounded-full bg-green-500 text-white text-center inline-block mr-2 shadow"
      onClick={{action 'thenClose' onComplete}}
      data-test-dot-dot-complete
    >
      <img src="/icons/checkmark.svg" style="vertical-align: middle;">
    </div>

    <div
      style="height: 2.5rem; width: 2.5rem; line-height: 2.5rem;"
      class="p-1 rounded-full bg-yellow-500 text-white text-center inline-block mr-2 shadow"

      onClick={{action 'thenClose' onSkip}}
      data-test-dot-dot-skip
    >
      <img src="/icons/remove.svg" style=" vertical-align: middle;">
    </div>

    <div
      style="height: 2.5rem; width: 2.5rem; line-height: 2.5rem;"
      class="p-1 rounded-full bg-red-500 text-white text-center inline-block mr-2 shadow"
      onClick={{action 'thenClose' onFail}}

      data-test-dot-dot-fail
    >
      <img src="/icons/close.svg" style=" vertical-align: middle;">
    </div>

    <div
      onClick={{action (mut showOptions) false}}
      style="p-1 height: 2.5rem; width: 2.5rem; line-height: 2.5rem;"
      class="rounded-full bg-light text-white text-center inline-block"
    >
      <img src="/icons/backspace.svg" style=" vertical-align: middle;">
    </div>
  {{else}}
    <div
      onClick={{action (mut showOptions) true}}
      style="height: 2.5rem; width: 2.5rem; line-height: 2.5rem;"
      class="p-1 rounded-full bg-purple-500 text-white text-center inline-block shadow"
      data-test-dot-dot-dot
      >
      <img src="/icons/more.svg" style=" vertical-align: middle;">
    </div>
  {{/if}}
</div>