<tr data-test-view-set={{this.loggedSet.id}}>
  <td>
    {{#if loggedSet.completed}}
      <span data-test-set-completed>
        {{fa-icon "check-circle"}}
      </span>
    {{/if}}

    {{#if loggedSet.skipped}}
      <span data-test-set-skipped>
        {{fa-icon "minus-circle"}}
      </span>
    {{/if}}

    {{#if loggedSet.failed}}
      <span data-test-set-failed>
        {{fa-icon "times-circle"}}
      </span>
    {{/if}}
  </td>
  <td
    class="py-4"
    data-test-set>
    {{loggedSet.setNumber}}
  </td>
  <td
    class="py-4
      {{if (eq this.currentlyEditing 'weight') 'bg-black text-xl'}}
    "
    >
    <button
      data-test-set-weight
      onclick={{action (mut this.currentlyEditing) 'weight'}}
      >
      {{loggedSet.weight}}
    </button>
  </td>
  <td
    class="py-4"
    >

    <button
      data-test-edit-set-reps
      onclick={{action (mut this.currentlyEditing) 'reps'}}
      >
      <span data-test-set-reps>
        {{loggedSet.reps}}
      </span>
      /
      <span data-test-set-reps-low>
        {{loggedSet.repsLow}}
      </span>
      -
      <span data-test-set-reps-high>
        {{loggedSet.repsHigh}}
      </span>
    </button>
  </td>
  <td
    class="py-4"
    data-test-set-rpe>
    {{loggedSet.rpe}}
  </td>
  <td>
    <button
      data-test-kebab
      onclick={{action (mut this.currentlyEditing) 'kebab'}}
      >
      {{fa-icon "ellipsis-v"}}
    </button>
  </td>
</tr>

{{#if (eq this.currentlyEditing 'weight')}}
  <tr class="bg-black" data-test-edit-weight={{loggedSet.id}}>
    <td
      colspan=1000
      class="py-4"
    >
      <button
        class="p-2 bg-white m-1 rounded text-black"
        data-test-subtract-pound
        onclick={{action subtractPound}}
      >
        -
      </button>

      <button
        class="p-2 bg-white m-1 rounded text-black"
        onclick={{action addPound}}
        data-test-add-pound
      >
        +
      </button>
    </td>
  </tr>
{{/if}}

{{#if (eq this.currentlyEditing 'reps')}}
  <tr class="bg-black" data-test-edit-reps={{loggedSet.id}}>
    <td
      colspan=1000
      class="py-4"
    >
      <button
        class="p-2 bg-white m-1 rounded text-black"
        data-test-subtract-rep
        onclick={{action subtractRep}}
      >
        -
      </button>

      <button
        class="p-2 bg-white m-1 rounded text-black"
        onclick={{action addRep}}
        data-test-add-rep
      >
        +
      </button>
    </td>
  </tr>
{{/if}}

{{#if (eq this.currentlyEditing 'kebab')}}
<tr class="bg-black" data-test-view-kebab={{loggedSet.id}}>
  <td
    colspan=1000
    class="py-4"
  >
    <button
      onclick={{action this.completeSet}}
      data-test-complete-set
      >
      Complete
    </button>

    <button
      onclick={{action this.skipSet}}
      data-test-skip-set
      >
      Skip
    </button>

    <button
      onclick={{action this.failSet}}
      data-test-fail-set
      >
      Fail
    </button>
  </td>
</tr>
{{/if}}