<tr data-test-view-set={{this.loggedSet.id}}>
  <td
    class="py-4"
    data-test-set>
    {{loggedSet.setNumber}}
  </td>
  <td
    class="py-4
      {{if (eq this.currentlyEditing 'weight') 'bg-black text-xl'}}
    "
    >
    <button
      data-test-set-weight
      onclick={{action (mut this.currentlyEditing) 'weight'}}
      >
      {{loggedSet.weight}}
    </button>
  </td>
  <td
    class="py-4"
    >
    <span data-test-set-reps-low>
      {{loggedSet.repsLow}}
    </span>
    -
    <span data-test-set-reps-high>
      {{loggedSet.repsHigh}}
    </span>
  </td>
  <td
    class="py-4"
    data-test-set-rpe>
    {{loggedSet.rpe}}
  </td>
</tr>

{{#if (eq this.currentlyEditing 'weight')}}
  <tr class="bg-black" data-test-edit-weight={{loggedSet.id}}>
    <td
      colspan=1000
      class="py-4"
    >
      <button
        class="p-2 bg-white m-1 rounded text-black"
        data-test-subtract-pound
        onclick={{action subtractPound}}
      >
        -
      </button>

      <button
        class="p-2 bg-white m-1 rounded text-black"
        onclick={{action addPound}}
        data-test-add-pound
      >
        +
      </button>
    </td>
  </tr>
{{/if}}