<div class="pt-8">
  <div>
    <select>
      <option selected="selected">
        {{selectedExercise.name}}
      </option>
      {{#each rawExercise.exercises as |exercise|}}
        <option>
          {{exercise.name}}
        </option>
      {{/each}}
    </select>
  </div>
  <div class="mx-6">
    {{#if loggedSession}}
      <input
        class="appearance-none border py-2 px-3 focus:outline-none focus:shadow-outline"
        placeholder="weight in lbs"
        value={{loggedExercise.weight}}
      >
      {{log loggedExercise}}
    {{/if}}
      {{exercise.sets}} x {{exercise.repsLow}}-{{exercise.repsHigh}} @ {{exercise.rpe}}RPE, ({{name}})
  </div>
</div>