<Box
  @color={{color}}
  class="relative mt-8 mb-0 z-20"
  >
  <div class="clear clearfix">
    <div class="text-lg font-bold float-left">
      {{#if loggedExercise.completed}}
        <img style="vertical-align: bottom;width: 20px;" src="/icons/checkmark.svg">
      {{/if}}

      {{#if loggedExercise.failed}}
        <img style="vertical-align: bottom;width: 20px;" src="/icons/close.svg">
      {{/if}}

      {{#if loggedExercise.skipped}}
        <img src="/icons/remove.svg" style="width: 20px;vertical-align: bottom">
      {{/if}}
    </div>
    <div class="absolute top-0 right-0" style="margin-top: -1.25rem; margin-right: 0.75em;">
      {{#if loggedSession}}
        <Dotdotdot
          @onComplete={{perform completeLoggedExercise}}
          @onSkip={{perform skipLoggedExercise}}
          @onFail={{perform failLoggedExercise}}
          >
          <span data-test-exercise-status>
            {{#if loggedExercise.completed}}
              <span class="font-bold text-xs text-green">
                completed
              </span>
            {{/if}}
            {{#if loggedExercise.skipped}}
              <span class="font-bold text-xs text-yellow-dark">
                skipped
              </span>
            {{/if}}
            {{#if loggedExercise.failed}}
              <span class="font-bold text-xs text-red">
                failed
              </span>
            {{/if}}
          </span>
        </Dotdotdot>
      {{/if}}
    </div>
  </div>
  <div style="position: relative;" class="mt-2">

    {{#if (gt rawExercise.exercises.length 1)}}
      <div style="display: inline-block; position: absolute; right: 1rem; top: .5rem ; opacity: 0.5">
        {{fa-icon "exchange"}}
      </div>
    {{/if}}

    {{#if (eq rawExercise.exercises.length 1)}}
      <p class="text-lg">{{exercise.defaultExercise}}</p>
    {{else}}
      <select
        class="w-full py-2 px-1 bg-gray-100 rounded"
        style=""
        onchange={{perform updateLoggedExerciseName value="target.value"}}
      >
        {{#each rawExercise.exercises as |exercise|}}
          <option value={{exercise.name}} selected={{eq loggedExercise.name exercise.name 'selected'}}>
            {{exercise.name}}
          </option>
        {{else}}
          No movements found
        {{/each}}
      </select>
    {{/if}}
  </div>
  <div>
    {{#if (not showHistory)}}
      <button onClick={{action (queue (action (mut showHistory) true) (perform loadLoggedExerciseHistory))}} class="inline-block float-right mt-4 bold text-xs text-gray-800 underline" data-test-move-history>
        View {{name}} history
      </button>
    {{/if}}
    {{#if showHistory}}
      <button onClick={{action (mut showHistory) false}} class="inline-block float-right mt-4 bold text-xs text-gray-800 text-underline" data-test-move-history>
        Hide {{loggedExercise.name}} history
      </button>
    {{/if}}
  </div>
  <div class="mt-2">
    {{#if loggedSession}}
      {{#if (eq exercise.family "running")}}
        <input
          type="number"
          style="width: 80px;"
          class="appearance-none border py-2 px-3 focus:outline-none focus:shadow-outline"
          placeholder="pace"
          value={{loggedExercise.weight}}
          oninput={{perform updateLoggedExercise loggedExercise value="target.value"}}
          data-test-exercise-weight
        > miles/minute, x {{exercise.sets}} @ {{exercise.rpe}}RPE
      {{else}}
        <input
          type="number"
          style="width: 80px;"
          class="appearance-none border py-2 px-3 focus:outline-none focus:shadow-outline"
          placeholder="weight in lbs"
          value={{loggedExercise.weight}}
          oninput={{perform updateLoggedExercise loggedExercise value="target.value"}}
          data-test-exercise-weight
        > lbs
      {{/if}}
    {{/if}}

    {{#if loggedSession}}
      {{#if (eq exercise.family "running")}}
      {{else}}
        {{exercise.sets}} x {{exercise.repsLow}}-{{exercise.repsHigh}} @ {{exercise.rpe}}RPE
      {{/if}}
    {{/if}}

    {{#if updateLoggedExercise.isRunning}}
      {{fa-icon "spinner" class=" mt-2 spinspin text-red float-right"}}
    {{/if}}
  </div>

  {{#if showHistory}}
    <div class="clear clearfix p-4 bg-blue-100">
      <table>
        <thead>
          <tr>
            <td>
              name
            </td>
            <td>
              weight
            </td>
            <td>
              date
            </td>
          </tr>
        </thead>
        <tbody>
          {{#each loggedExerciseHistory as |oldLoggedExercise|}}
            <tr data-test-move-histories>
              <td>{{oldLoggedExercise.name}}</td>
              <td>{{oldLoggedExercise.weight}}</td>
              <td>{{moment oldLoggedExercise.loggedSession.endedAt 'YYYY-MM-DD'}}</td>
            </tr>
          {{else}}
            <tr data-test-no-move-history-found><td>No History Found</td></tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  {{/if}}

</Box>
<AnimatedContainer>
  {{#animated-if (eq showAdvanced true) use=this.transition}}
      <div class="bg-gray-800 text-white z-10 mx-4">
        <div>
          <button onclick={{queue
              (action (mut showSets) true)
              (action (mut showHistory) false)
            }}
            data-test-advanced-option
          >
            Sets
          </button>
          <button onclick={{queue
              (action (mut showSets) false)
              (action (mut showHistory) true)
            }}
            data-test-advanced-option
          >
            History
          </button>
        </div>
        {{#if showSets}}
          Showing sets
        {{else if showHistory}}
          Showing history
        {{/if}}
      </div>
  {{/animated-if}}
  <div class="text-center z-10">
    <button
      class="bg-gray-800 text-white text-xs -m-3 p-2 inline-block"
      onclick={{action (mut showAdvanced) (not showAdvanced)}}
      data-test-expand-advanced
    >
      {{if showAdvanced 'Hide' 'Show'}} Advanced
    </button>
  </div>
</AnimatedContainer>