<Box
  @color={{color}}
  >
  <div class="clear clearfix">
    <div class="text-lg font-bold float-left">
      {{#if loggedExercise.completed}}
        <img style="vertical-align: bottom;width: 20px;" src="/icons/checkmark.svg">
      {{/if}}

      {{#if loggedExercise.failed}}
        <img style="vertical-align: bottom;width: 20px;" src="/icons/close.svg">
      {{/if}}

      {{#if loggedExercise.skipped}}
        <img src="/icons/remove.svg" style="width: 20px;vertical-align: bottom">
      {{/if}}
      {{name}}
    </div>
    <div class="float-right">
      <Dotdotdot
        @onComplete={{perform completeLoggedExercise}}
        @onSkip={{perform skipLoggedExercise}}
        @onFail={{perform failLoggedExercise}}
        >
        <span data-test-exercise-status>
          {{#if loggedExercise.completed}}
            <span class="font-bold text-xs text-green">
              completed
            </span>
          {{/if}}
          {{#if loggedExercise.skipped}}
            <span class="font-bold text-xs text-yellow-dark">
              skipped
            </span>
          {{/if}}
          {{#if loggedExercise.failed}}
            <span class="font-bold text-xs text-red">
              failed
            </span>
          {{/if}}
        </span>
      </Dotdotdot>
    </div>
  </div>
  <div style="position: relative;" class="mt-2">
    <div style="display: inline-block; position: absolute; right: 1rem; top: .5rem ; opacity: 0.5">
      {{fa-icon "exchange"}}
    </div>
    <select
      class="w-full py-2 px-1 bg-grey-lightest"
      style=""
      onchange={{perform updateLoggedExerciseName value="target.value"}}
    >

      {{#each rawExercise.exercises as |exercise|}}

        <option value={{exercise.name}} selected={{eq loggedExercise.name exercise.name 'selected'}}>
          {{exercise.name}}
        </option>
      {{/each}}
    </select>
  </div>
  <div>
    {{#if (not showHistory)}}
      <button onClick={{action (queue (action (mut showHistory) true) (perform loadLoggedExerciseHistory))}} class="inline-block float-right mt-4 bold text-xs text-grey-dark underline" data-test-move-history>
        View {{loggedExercise.name}} history
      </button>
    {{/if}}
    {{#if showHistory}}
      <button onClick={{action (mut showHistory) false}} class="inline-block float-right mt-4 bold text-xs text-grey-dark text-underline" data-test-move-history>
        Hide {{loggedExercise.name}} history
      </button>
    {{/if}}
  </div>
  <div class="mt-2">
    {{#if loggedSession}}
      <input
        type="number"
        style="width: 80px;"
        class="appearance-none border py-2 px-3 focus:outline-none focus:shadow-outline"
        placeholder="weight in lbs"
        value={{loggedExercise.weight}}
        oninput={{perform updateLoggedExercise loggedExercise value="target.value"}}
        data-test-exercise-weight
      > lbs
    {{/if}}
      {{exercise.sets}} x {{exercise.repsLow}}-{{exercise.repsHigh}} @ {{exercise.rpe}}RPE

      {{#if updateLoggedExercise.isRunning}}
        {{fa-icon "spinner" class=" mt-2 spinspin text-red float-right"}}
      {{/if}}
  </div>

  {{#if showHistory}}
    <div class="clear clearfix p-4 bg-blue-lightest">
      <table>
        <thead>
          <tr>
            <td>
              name
            </td>
            <td>
              weight
            </td>
            <td>
              date
            </td>
          </tr>
        </thead>
        <tbody>
          {{#each loggedExerciseHistory as |oldLoggedExercise|}}
            <tr data-test-move-histories>
              <td>{{oldLoggedExercise.name}}</td>
              <td>{{oldLoggedExercise.weight}}</td>
              <td>{{moment oldLoggedExercise.loggedSession.endedAt 'YYYY-MM-DD'}}</td>
            </tr>
          {{else}}
            <tr data-test-no-move-history-found><td>No History Found</td></tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  {{/if}}
</Box>