{{#ember-wormhole to="nav"}}
  <div class="absolute pin-y bg-blue w-full z-50">
    <button onclick={{action closeMenu}} class="float-right">
      {{fa-icon "close" size="1"}}
      close
    </button>
    <h1>assadf</h1>
    {{#if session.isAuthenticated}}
      {{log currentUser.user}}
      Logged in as <span data-test-current-user>{{currentUser.email}}</span>
      <button onclick={{action (queue (action logout) (action closeMenu))}} class="bg-red text-white" data-test-logout>
        Logout
      </button>
    {{/if}}
  </div>
{{/ember-wormhole}}