<div class="m-2 p-2" data-test-session>
  <div class="cf clearfix">
    <div class="text-xl mb-4 float-left">{{session.name}}</div>

    <div class="float-right">
      {{#if (not loggedSession.startedAt)}}
        <button onclick={{action startSession}} class="bg-blue-500 hover:bg-blue-dark text-white font-bold py-2 px-4 rounded" data-test-start-session-button>
          Start Session
        </button>
      {{else}}
        {{#if loggedSession.endedAt}}
          Finished: {{moment-format loggedSession.endedAt 'YYYY-MM-DD [at] h:mm a'}}
        {{else}}
          <button onclick={{action endSession}} class="bg-red-500 hover:bg-red-800 text-white font-bold py-2 px-4 rounded" data-test-end-session-button>
            End Session
          </button>
        {{/if}}
      {{/if}}
    </div>
  </div>
  {{#if isShowing}}
    {{#each session.exercises as |exercise|}}
      <div data-test-moves>
        {{view-move
          exercise=exercise
          loggedExercise=(get-logged-exercise loggedSession.loggedExercises exercise)
          loggedSession=loggedSession
        }}
      </div>
    {{/each}}
  {{else}}
    <div data-test-moves-hidden></div>
  {{/if}}
</div>