<div class="border m-2 p-2" data-test-session>
  <div class="text-xl">{{session.name}}</div>
  <div class="float-right">
    {{#if (not loggedSession)}}
      <button onclick={{action startSession}} class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded" data-test-start-session-button>
        Start Session
      </button>
    {{else}}
      <button onclick={{action endSession}} class="bg-red hover:bg-red-dark text-white font-bold py-2 px-4 rounded" data-test-end-session-button>
        End Session
      </button>
    {{/if}}
  </div>
  {{#each session.exercises as |exercise|}}
    {{view-move
      exercise=exercise
      loggedExercise=(get-logged-exercise loggedSession.loggedExercises exercise)
      loggedSession=loggedSession
    }}
  {{/each}}
</div>