<div class="m-2 mt-8 p-2" data-test-session>
  <div class="cf clearfix relative">
    {{#if loggedSession.endedAt}}
      <div class="absolute text-green-500" style="left: -1.5rem; top: 4px;">
        {{fa-icon "check"}}
      </div>
    {{/if}}
    <div class="text-xl mb-4 float-left">
      {{session.name}}
      {{#if (not isShowing)}}
        <button
          class="
            opacity-25 hover:opacity-100
            bg-white hover:shadow-2xl
            text-gray-500 text-xs
            px-2 py-1 text-bold border rounded rounded-full uppercase"
          onclick={{action (mut isShowing) true}}>
          {{fa-icon "eye"}}
          show
        </button>
      {{else}}
        <button
          class="
            opacity-25 hover:opacity-100
            bg-white hover:shadow-2xl
            text-gray-500 text-xs
            px-2 py-1 text-bold border rounded rounded-full uppercase"
          onclick={{action (mut isShowing) false}}>
          {{fa-icon "eye-slash"}}
          hide
        </button>
      {{/if}}
    </div>

    <div class="float-right">
      {{#if (not loggedSession.startedAt)}}
        <button onclick={{action startSession}} class="bg-blue-500 hover:bg-blue-dark text-white font-bold py-2 px-4 rounded" data-test-start-session-button>
          Start Session
        </button>
      {{else}}
        {{#if loggedSession.endedAt}}
          <span class="text-gray-500 text-sm">
            Finished: {{moment-format loggedSession.endedAt 'YYYY-MM-DD [at] h:mm a'}}
          </span>
        {{else}}
          <button onclick={{action endSession}} class="bg-red-500 hover:bg-red-800 text-white font-bold py-2 px-4 rounded" data-test-end-session-button>
            End Session
          </button>
        {{/if}}
      {{/if}}
    </div>
  </div>

  {{#if isShowing}}
    {{#each session.exercises as |exercise|}}
      <div data-test-moves>
        {{view-move
          exercise=exercise
          loggedExercise=(get-logged-exercise loggedSession.loggedExercises exercise)
          loggedSession=loggedSession
        }}
      </div>
    {{/each}}
  {{else}}
    <div data-test-moves-hidden></div>
  {{/if}}
<<<<<<< Updated upstream
=======

  {{#if curcuits.length}}
    <h2 class="text-xl mt-8 mb-4">Curcuits</h2>
    <div class="shadow bg-white">
      {{#each exercisesByCurcuit as |exercises|}}

        <h3 class="bold">Round x/y</h3>

        <UiButton>
          Start round one
        </UiButton>
        <UiButton>
          fail
        </UiButton>

        sets low, sets high

        create
        <table class="w-full">
          <tr>
            <td>Move</td>
            <td>Weight</td>
            <td>Reps</td>
            <td>dotdotdot</td>
          </tr>
          {{#each exercises as |exercise|}}
            {{#let (get-logged-exercise loggedSession.loggedExercises exercise) as |loggedExercise|}}
              <tr>
                <td
                  class="border border-b-1 p-2">
                  {{exercise.defaultExercise}}
                </td>
                <td
                  class="border border-b-1 p-2">
                  {{loggedExercise.weight}}
                </td>
                <td
                  class="border border-b-1 p-2">
                  {{exercise.repsLow}} / {{exercise.repsHigh}}
                </td>
                <td
                  class="border border-b-1 p-2">
                  dot
                </td>
              </tr>
            {{/let}}
          {{/each}}
        </table>
      {{/each}}
    </div>
  {{/if}}
>>>>>>> Stashed changes
</div>