<div id="nav">
</div>
{{#if navOpen}}
  <Nav
    @closeMenu={{action (mut navOpen) false}}
    @logout={{action "invalidateSession"}}
    @currentUser={{currentUser.user}}
  >
  </Nav>
{{/if}}
<div class="bg-grey-lighter p-3 flex">
  <div class="flex-grow">
    {{#link-to "application"}}
      <img src="/images/4.png" alt="logo" style="width: 140px;"/>
    {{/link-to}}
  </div>
  <div class="">
    <button onclick={{action (mut navOpen) true}} data-test-nav>
      {{fa-icon "bars" size="1"}}
    </button>
  </div>
</div>
<div class="p-3">
  {{outlet}}
</div>