<div data-test-home-screen-items>
  {{#each homeScreenItems as |homeScreenItem|}}
    <div data-test-home-screen-item="{{homeScreenItem.duty}}">
      {{#if homeScreenItem.title}}
      <h1 class="relative text-2xl text-purple-500 font-bold mt-8" data-test-home-screen-title>
        {{fa-icon "bookmark" style="position: absolute; left: -1.5rem; top: 0.5rem"}}
        {{homeScreenItem.title}}
      </h1>
      {{/if}}

      {{#if (eq homeScreenItem.duty 'log-weight')}}
        <HomeScreenItem::LogWeight
          @homeScreenItem={{homeScreenItem}}
          @dailyMeasurement={{homeScreenItem.dailyMeasurement}}
        />
      {{/if}}

      {{#if (eq homeScreenItem.duty 'log-macros')}}
        <HomeScreenItem::LogMacros
          @homeScreenItem={{homeScreenItem}}
          @dailyMeasurement={{homeScreenItem.dailyMeasurement}}
        />

      {{/if}}

      {{#if homeScreenItem.loggedMacrocycle}}
        <Box>
          <h2 class="text-lg">{{homeScreenItem.loggedMacrocycle.macrocycle.name}}</h2>
          <p class="text-gray-500">
            Started {{moment-format homeScreenItem.loggedMacrocycle.createdAt 'YYYY-MM-DD'}}
          </p>

          <div class="clearfix">
            {{#link-to "protected.program" homeScreenItem.loggedMacrocycle.id
              class="text-blue-500 mt-4 block float-right"
              data-test-go-to-program="true"
            }}
              Continue Working Out {{fa-icon "arrow-circle-right"}}
            {{/link-to}}
          </div>
        </Box>
      {{/if}}

      {{#if homeScreenItem.performanceTest}}
        <Box>
          <h2>Active Performance Test</h2>
          {{link-to "Continue Performance Test" "protected.performance-tests" homeScreenItem.performanceTest.id
            class="text-blue-500"
            data-test-go-to-performance-test="true"
          }}
        </Box>
      {{/if}}



      {{#if homeScreenItem.loggedSession}}
        <HomeScreenItem::LoggedSession
          @homeScreenItem={{homeScreenItem}}
          @dailyMeasurement={{homeScreenItem.dailyMeasurement}}
        />
      {{/if}}
    </div>
  {{/each}}
</div>