<div data-test-home-screen-items>
  {{#each homeScreenItems as |homeScreenItem|}}
    <div data-test-home-screen-item="{{homeScreenItem.duty}}">
      {{#if homeScreenItem.title}}
        <h1 data-test-home-screen-title>{{homeScreenItem.title}}</h1>
      {{/if}}

      {{#if (eq homeScreenItem.duty 'log-weight')}}
        <HomeScreenItem::LogWeight
          @homeScreenItem={{homeScreenItem}}
          @dailyMeasurement={{homeScreenItem.dailyMeasurement}}
        />
      {{/if}}

      {{#if (eq homeScreenItem.duty 'log-macros')}}
        <HomeScreenItem::LogMacros
          @homeScreenItem={{homeScreenItem}}
          @dailyMeasurement={{homeScreenItem.dailyMeasurement}}
        />

      {{/if}}

      {{#if homeScreenItem.loggedMacrocycle}}
        <Box>
          <h2>Active Program</h2>
          {{link-to "Continue Working Out" "protected.program" homeScreenItem.loggedMacrocycle.id
            class="text-blue-500"
            data-test-go-to-program="true"
          }}
        </Box>
      {{/if}}

      {{#if homeScreenItem.performanceTest}}
        <Box>
          <h2>Active Performance Test</h2>
          {{link-to "Continue Performance Test" "protected.performance-tests" homeScreenItem.performanceTest.id
            class="text-blue-500"
            data-test-go-to-performance-test="true"
          }}
        </Box>
      {{/if}}



      {{#if homeScreenItem.loggedSession}}
        <Box>
          <p>Week: {{homeScreenItem.loggedSession.week}}</p>
          <h2>{{homeScreenItem.loggedSession.session.name}}</h2>
          {{link-to "Go to workout" "protected.logged-sessions" homeScreenItem.loggedSession.id
            class="text-blue-500"
            data-test-go-to-logged-session="true"
          }}
        </Box>
      {{/if}}
    </div>
  {{/each}}
</div>